/* @import url('https://fonts.googleapis.com/css2?family=Anek+Bangla:wght@100..800&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Anek Bangla';
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem !important;
  }


  /* width */
  ::-webkit-scrollbar {
    width: 0.2rem;
    scroll-behavior: smooth;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent !important;
    border-radius: 0.6rem;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 2rem;
  }

  /* Firefox scrollbar style  */
  * {
    scrollbar-width: 0.2rem;
    scrollbar-color: #999999 transparent;
  }

  .scroll_hidden::-webkit-scrollbar {
    width: 0;
    scroll-behavior: smooth;
  }

  input:-webkit-autofill {
    background: transparent !important;
  }

  /* Hide the up and down arrows */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}


@layer components {
  .nth_child_even_odd {
    @apply [&>*:nth-child(even)]:bg-white [&>*:nth-child(even)]:dark:bg-primary-100 [&>*:nth-child(odd)]:bg-primary-5 [&>*:nth-child(odd)]:dark:bg-[#171717];
  }

  .border-color {
    @apply border-primary-20 dark:border-primary-80
  }

  .background {
    @apply bg-white dark:bg-primary-90
  }
}